@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: "Baloo Thambi 2", cursive;
    background-color: white;
    height: 100%;
}
html {
    height: 100%;
}
main {
    height: 100%;
}

.tierdesign {
    background-color: #077825;
    width: 400px;
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}  

.tierdesign img {
    width: 400px;
}
.tierdesign p {
    font-style: italic;
    font-size: 18px;
    color:#ffffff;
}

.tierdesign h3 {
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
    color: #ffffff;
    font-size: 25px;    
}
.clickbait {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    box-shadow: inset 7px 36px 63px -34px rgba(0, 70, 38, 0.76);
}
.clickbait h1 {
    position: absolute;
    top: 120px;
    left: 100px;
    font-size: 60px;
    color: white;
    
}