@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: "Baloo Thambi 2", cursive;
    background-color: white;
    height: 100%;
}
html {
    height: 100%;
}
main {
    height: 100%;
}
.tierdesign-container {
    margin: 20px auto 0 auto;
    width: fit-content;
}
.tierdesign {
    background-color: #509A7D;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    margin-left: 15px;
    margin-right: 15px;
}  

.tierdesign img {
    width: 400px;
}
.tierdesign p {
    font-style: italic;
    font-size: 18px;
    color:#ffffff;
}

.tierdesign h3 {
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
    color: #ffffff;
    font-size: 25px;    
}
.clickbait {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    box-shadow: inset 7px 36px 63px -34px rgba(0, 70, 38, 0.76);
}
.clickbait h1 {
    position: absolute;
    top: 120px;
    left: 100px;
    font-size: 60px;
    color: white; 
}

.kasten {
    position: absolute;
    padding: 20px 40px 20px 40px;
    top: 100px;
    left: 100px;
    background-color: #004627a6;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 20px;
    color: white;
}

.kasten a {
    color: white;
}