nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #004626;
	text-align: right;
	font-size: 0;
	border-right: 0px solid white;
}
nav li {
	margin: 0px;
	padding: 0;
	font-size: 24px;
	display: inline-block;
	
}

nav a {
	display: block;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: #509A7D;
	transition: all .25s ease-in;
	border-right: 1px solid white;
}
nav li:last-child a {
	border-right: none;
}


nav a:focus,
nav a:hover,
nav li[aria-current] a:focus,
nav li[aria-current] a:hover {
	color: white;
	background-color: #004626;
}
nav > ul.subnav {
	background-color:  #509A7D;
	border-bottom: 1px solid #004626;
}
nav ul.subnav a {
	color: #509A7D;
	background-color: white;
	padding: 15px;
	font-size: 30px;
	border-right: 1px solid #509A7D;
}

nav ul.subnav a 
nav a:focus,
nav a:hover,
nav li[aria-current] a:focus,
nav li[aria-current] a:hover {
	color: white;
	background-color: #004626;
}
nav a.active {
	background-color: #004626;
}
nav ul img {
	height: 19px;
	margin-right: 10px;
}
nav ul.subnav li:last-child a {
	border-right: none;
}
nav ul.subnav a.active {
	background-color: #004626;
}